:root {
  --main-text-color: #212121;
  --two-main-color: #ffffff;
  --title-color: #757575;
  --button-color: #f5f4fa;
  --accent-color: #2196f3;
  --bg-color: #2f303a;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--main-text-color);
  background-color: var(--two-main-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.list {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

.hidden-title {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.header-two-level {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

header {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  border-bottom: 1px solid #ececec;
}

.top-line,
.nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 94px;
}

.logo__web,
.logo__studio {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__studio--black-color {
  color: #000000;
}

.logo__studio--footer {
  color: var(--two-main-color);
}

.contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-left: auto;
  display: flex;
}

.contact .contact__link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .contact__icon {
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: #2196f3;
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.menu {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  display: flex;
}

.menu .menu__link {
  position: relative;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link--currentStudio::after {
  position: absolute;
  left: 0px;
  bottom: 0px;
  content: "";
  display: flex;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.menu__link--currentPortfolio::after {
  position: absolute;
  left: 0px;
  bottom: 0px;
  content: "";
  display: flex;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.cap {
  display: flex;
  height: 600px;
  align-items: center;
  text-align: center;
}

.cap__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--two-main-color);
  margin-bottom: 30px;
}

.cap__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  color: var(--two-main-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cap__button:hover,
.cap__button:focus {
  color: var(--bg-color);
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/decor/svg/main-img.svg);
  background-color: #c4c4c4;
  background-position: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features__item:not(:last-child) {
  margin-right: 30px;
  flex-basis: calc((100% - 90px) / 4);
}

.features__item {
  max-width: 270px;
}

.features__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.working {
  text-align: center;
}

.working__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.working__item:not(:last-child) {
  margin-right: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.working__item {
  position: relative;
}

.working_text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  width: 100%;
  height: 70px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  max-width: 1600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: #f5f4fa;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.person {
  background: #ffffff;
  max-width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: 1px solid transparent;
}

.person:not(:last-child) {
  margin-right: 30px;
  flex-basis: calc((100% - 90px) / 4);
}

.person__image {
  margin-bottom: 30px;
}

.person__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.person__position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 16px;
}

.personalNetworks {
  display: inline-flex;
  margin-bottom: 30px;
}

.personalNetworks__item + .personalNetworks__item {
  margin-left: 10px;
}

.personalNetworks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.personalNetworks__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.personalNetworks__link:hover,
.personalNetworks__link:focus {
  background-color: #2196f3;
}

.personalNetworks__link:hover .personalNetworks__icon,
.personalNetworks__link:focus .personalNetworks__icon {
  fill: #fff;
}

.clients {
  text-align: center;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  margin-right: -30px;
}

.client-title {
  margin-bottom: 50px;
}

.client:not(:last-child) {
  margin-right: 30px;
  flex-basis: calc((100% - 150px) / 6);
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: #2196f3;
}

.client__link:hover,
.client__link:focus {
  border: 1px solid #2196f3;
}

.footer {
  background: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-main {
  flex-basis: calc((50%-45px) / 2);
}

.footer-main .fototer-main__logo {
  display: inline-flex;
  margin-bottom: 20px;
}

.footer-main .address__contact--block {
  display: block;
}

.footer-main .address__city {
  display: flex;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--two-main-color);
  margin-bottom: 9px;
}

.footer-main .address__mail {
  display: flex;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-main .address__tel {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-networks {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--two-main-color);
  flex-basis: calc((50%-45px) / 2);
  margin-top: 12px;
}

.footer-networks .footer-networks__title {
  margin-bottom: 20px;
}

.footer-networks .networks {
  display: flex;
}

.footer-networks .networks__item + .networks__item {
  margin-left: 10px;
}

.footer-networks .networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-networks .networks__link:hover, .footer-networks .networks__link:focus {
  background-color: #2196f3;
}

.footer-networks .networks__icon {
  fill: #fff;
}

.footer-mailing {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--two-main-color);
  margin-top: 12px;
}

.footer-mailing .footer-mailing__title {
  margin-bottom: 20px;
}

.footer-mailing .mailing-form__group {
  display: flex;
  flex-wrap: wrap;
}

.footer-mailing .mailing-form__input {
  border-radius: 4px;
  padding: 15px 16px;
  width: 358px;
  box-sizing: border-box;
  background: var(--bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mailing .mailing-form__input:focus {
  border-color: #2196f3;
  outline: #2196f3;
}

.footer-mailing .mailing-form__button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px;
  margin: 0;
  margin-left: 10px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mailing .mailing-form__button:hover {
  background-color: #188ce8;
}

.footer-mailing .mailing-form__icon {
  margin-left: 10px;
  fill: #fff;
}

.portfolio {
  text-align: center;
}

.portfolio .portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolioFilter {
  display: inline-flex;
  margin-bottom: 34px;
}

.portfolioFilter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolioFilter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolioFilter__button:hover, .portfolioFilter__button:focus {
  color: var(--two-main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product .product__group {
  position: relative;
  overflow: hidden;
}

.product .product__img {
  display: block;
}

.product-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-thumb .product-thumb__text {
  text-align: left;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--two-main-color);
  margin: 63px 24px;
}

.product:hover .product-thumb {
  transform: translateY(0);
}

.product-meta {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  text-align: left;
  max-width: 370px;
}

.product-meta .product-meta__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.product-meta .product-meta__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: inherit;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  background-color: #fff;
  padding: 40px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalForm__title {
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modalForm__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modalForm__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 55px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalForm__button:hover {
  background-color: #188ce8;
}

.formLabel {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.formLabel .formLabel__title {
  display: inline-block;
  margin-bottom: 4px;
}

.formLabel .formLabel__group {
  position: relative;
  display: flex;
  flex-direction: column;
}

.formLabel .formLabel__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.formLabel__input {
  padding: 10px 12px 10px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font: inherit;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.formLabel__input:focus {
  outline-color: #2196f3;
  border-color: #2196f3;
}

.formLabel__input:focus ~ .formLabel__icon {
  fill: #2196f3;
}

.textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font: inherit;
}

.modalLicense {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.modalLicense .modalLicense__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modalLicense .modalLicense__icon {
  vertical-align: text-top;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalLicense__checkbox:checked + .modalLicense__icon {
  border-color: #2196f3;
  background-color: #2196f3;
}

.modalLicense__link {
  text-decoration: underline;
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */