html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--main-text-color);
  background-color: var(--two-main-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    color: var(--accent-color);
    cursor: pointer;
  }
}

.list {
  list-style: none;

  padding-left: 0px;
  margin-bottom: 0;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

.hidden-title {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.header-two-level {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}
