.product-meta {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  text-align: left;
  max-width: 370px;

  .product-meta__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    margin-bottom: 4px;
  }

  .product-meta__text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--title-color);
  }
}
