.features {
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  // text-align: center;
}

// .features__item:not(:last-child) {
//   margin-right: 30px;
//   flex-basis: calc((100% - 90px) / 4);
// }

.features__item {
  // max-width: 270px;
  // width: 100vh;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;

    .features__img {
      width: 100%;
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 354px;
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    .features__img {
      width: 100%;
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
      flex-basis: calc((100% - 90px) / 4);
    }
  }
}

.features__img {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 270px;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
